html, body{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-all;
}

.thumbnail {
  width: 80px;
  max-height: 400px;
  image-orientation: from-image;
}

img:hover {
  width: auto;
  height: auto;
  background: #004040;
  color: white;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  image-orientation: from-image;
}

button a{
  color:black;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
}
/*
 * .electron-in-page-search-window is a class specified to default
 * <webview> element for search window.
 */
.electron-in-page-search-window {
  position: fixed;
  top: 0;
  right: 0;
  border: solid grey 1px;
  background-color: white;
  width: 300px;
  height: 36px;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is inactive.
 */
.search-inactive {
  visibility: hidden;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is active.
 */
.search-active {
  visibility: visible;
}
